page-login{

    ion-title{
        text-align: center;
    }

    img {
        width: auto;
        height: 90px;
        display: block;
        margin: 0px auto;
    }

    .button {
        //margin-top: 20px;
        background-color: #ec6a5b;
        //margin-bottom: 18px;
        text-transform: none;
    }

    ion-input{
        background: rgb(241, 237, 237) !important;
    }

    form{  
        
        margin-top: 20px;
            
        p{
            font-size: smaller;
            color: #e13838 !important;
            padding-left: 5px;
        }
        
        div{
            //margin-bottom: 2px!important;
            //background: rgb(201, 197, 197) !important;

            ion-label{
                padding-left: 2px;
                color: rgb(163, 24, 24);
            }
            
            input{
                background: rgb(241, 237, 237) !important;  
                width: 100%;
                border:none;
                height: 35px;
                padding-left: 5px;
                font-size: medium;
            }

            .ng-invalid.ng-dirty {
                border: 1px solid #ea6153;
            }

            /*.item-inner{
                margin-left: 5px;
                border-bottom-color: transparent !important;
                box-shadow:none!important;
            }*/
        }
    }
}