page-login{
    form {
        margin-bottom: 32px;        
        button {
            margin-top: 20px;
        }
    }
  
    p {
        font-size: 1em;
        color: #FF6153;
    }
  
    ion-label {
        margin-left: 5px;
    }
  
    ion-input {
        padding: 5px;
    }
  
    .invalid {
        border-bottom: 1px solid #FF6153;
    }
  
    .error-message .item-inner {
        border-bottom: 0 !important;
    }  

    ion-card img {
        width: auto;
        height: 110px;
        display: block;
        margin: 20px auto;
    }

    ion-card {
        border: rgb(194, 212, 25)
    }

}