<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Bhatkantee
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-card>
        <img src="{{appLogo}}"/>  
    </ion-card>-->
    <div>
      <img src="assets/imgs/appLogo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input #email formControlName="email" type="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Enter a valid email</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item no-lines class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Weak password (min. 6 characters)</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <div padding style="text-align:center"><a (click)="goToResetPassword()">Forgot your password?</a></div>
  <div padding style="text-align:center"><a (click)="createAccount()">Don't have an account yet? Register here!</a></div>

  <!--<button ion-button block clear (click)="goToResetPassword()">Forgot Password</button>
  <button ion-button block clear (click)="createAccount()">Create Account</button>-->
</ion-content>