<ion-header>
  <ion-navbar>
    <ion-title >
      Bhatkantee
    </ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content padding>
    <ion-list inset>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        
        <ion-label stacked>Full Name</ion-label>
        <ion-item>
          <ion-input formControlName="fullName" type="text"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.fullName.valid  && signupForm.controls.fullName.dirty">
          Enter a valid name (min. 5 characters)
        </p>
        
        
        <ion-label stacked>Email or Mobile Number</ion-label>
        <ion-item>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
          Enter a valid email or mobile number
        </p>
               
        <ion-label Stacked>Password</ion-label>
        <ion-item>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
          Weak password (min. 6 characters)
        </p>
                
        <ion-label stacked>Birth Date</ion-label>
        <ion-item>
          <ion-input formControlName="birthDate" type="text" disabled (click)="chooseDate()"></ion-input>
        </ion-item>
        <p *ngIf="!signupForm.controls.birthDate.valid  && signupForm.controls.birthDate.dirty">
          Birth date is required
        </p>
        
        <ion-list radio-group formControlName="gender" margin-top>            
          <ion-row class="gender" align-items-start>
            <ion-col align-self-start><div>Gender</div></ion-col>
            <ion-col><ion-radio float-left value="m"></ion-radio>&nbsp;Male</ion-col>              
            <ion-col><ion-radio float-left  value="f"></ion-radio>&nbsp;Female</ion-col>              
          </ion-row>            
        </ion-list>
          
        <button ion-button margin-top block type="submit" [disabled]="!signupForm.valid">Create Account</button>      
      </form>
    </ion-list>
  </ion-content>