page-register {

  img {
    width: auto;
    height: 90px;
    display: block;
    margin: 0px auto;
  }

  .button {
    background-color: #ec6a5b;
    text-transform: none;
  }

  form{  
              
    p{
      font-size: smaller;
      color: #e13838 !important;
      padding-left: 5px;
    }

    .gender {
      :first-child{        
        padding-left: 1px; 
        color: rgb(163, 24, 24);
      }
      
      :not(:first-child){
        font-size: smaller;
      }
    }
      
    div{
      //margin-bottom: 2px!important;
      //background: rgb(201, 197, 197) !important;

      ion-label{
        padding-left: 2px;
        color: rgb(163, 24, 24);
      }

      ion-input{
        background: rgb(241, 237, 237) !important;
    }
     
      .ng-invalid.ng-dirty {
        border: 1px solid #ea6153;
      }

      /*.item-inner{
        margin-left: 5px;
        border-bottom-color: transparent !important;
        box-shadow:none!important;
      }*/
    }
  }
}
