<ion-header>
    <ion-navbar>
      <ion-title >
        Bhatkantee
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list inset>
      <div>
        <img src="assets/imgs/appLogo.png">
      </div>
      <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
        <div>
          <ion-label stacked>Full Name</ion-label>
          <ion-input formControlName="fullName" type="text"></ion-input>
          <p *ngIf="!signupForm.controls.fullName.valid  && signupForm.controls.fullName.dirty">
            Enter a valid name (min. 5 characters)
          </p>
        </div>
        <div>
          <ion-label stacked>Email or Mobile Number</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
          <p *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
            Enter a valid email or mobile number
          </p>
        </div>                  
        <div>
          <ion-label Stacked>Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <p *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
            Weak password (min. 6 characters)
          </p>
        </div>
        <div>
          <ion-label stacked>Birth Date</ion-label>
          <ion-input formControlName="birthDate" type="text" disabled (click)="chooseDate()"></ion-input>
          <p *ngIf="dob">
              Birth date is required
          </p>
        </div>
        <div>          
          <ion-list radio-group margin-top>            
            <ion-row class="gender" align-items-start>
              <ion-col align-self-start><div>Gender</div></ion-col>
              <ion-col><ion-radio float-left value="male"></ion-radio>&nbsp;Male</ion-col>              
              <ion-col><ion-radio float-left value="female"></ion-radio>&nbsp;Female</ion-col>              
            </ion-row>            
          </ion-list>
        </div>      

        <button margin-top ion-button block type="submit" [disabled]="!signupForm.valid">Create Account</button>      
      </form>
    </ion-list>
  </ion-content>